body {
            background: rgb(233, 223, 255);
            font-family: 'Open Sans', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px;
            color: rgb(44, 44, 44);
        }

        h1 {
            color: rgb(83, 49, 165);
            margin-top: 32px 0 16px 0;
        }

        .container {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: #fff;
            max-width: 900px;
            width: 100%;
            padding: 0 64px 64px 64px;
            position: relative;
        }

        .tabs {
            display: flex;
            width: 100%;
            justify-content: space-around;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(200, 175, 255);
            padding: 15px;
        }

        .tabs p {
            padding: 8px;
            cursor: pointer;
        }

        .tabs p:hover {
            color: rgb(83, 49, 156);
        }

        .tabs p.active {
            color: rgb(83, 49, 156);
            position: relative;
        }

        .line {
            position: absolute;
            top: 98px;
            width: 100%;
            height: 3px;
            background-color: rgb(231, 231, 231);
        }

        .tabs .active::before {
            content: '';
            position: absolute;
            top: 66px;
            left: -50%;
            width: 200%;
            height: 5px;
            background-color: rgb(83, 49, 156);
            z-index: 1;
            border-radius: 5px;
        }

        .toggle-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 32px;
        }

        .toggle-wrapper img {
            width: 40px;
            height: 40px;
            margin: 0 16px;
        }

        .toggle {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            align-items: center;
            background-color: rgb(83, 49, 156);
            width: 140px;
            height: 32px;
            border-radius: 20px;
            padding: 0 4px 0 16px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            cursor: pointer;
        }

        .toggle span:first-of-type {
            color: white;
        }

        .toggle span:last-of-type {
            color: rgb(83, 49, 156);
            background-color: white;
            padding: 4px 16px;
            border-radius: 20px;
        }

        .sessions-card {
            text-align: center;
            background-color: rgb(250, 247, 255);
            padding: 16px;
            width: 50%;
            border-radius: 10px;
            padding: 32px;
            text-transform: uppercase;
            margin: 16px 0;
        }

        .sessions-card p {
            color: rgb(44, 44, 44);
            font-size: 12px;
            font-weight: bold;
            margin: 16px 0 0 0;
        }

        .sessions-card .number {
            color: rgb(83, 49, 156);
            font-size: 54px;
            margin: 0;
        }

        .description {
            line-height: 32px;
            margin: 16px 0 32px 0;
        }

        .slider {
            width: 100%;
            position: relative;
            margin-bottom: 16px;
        }

        .slider .bar {
            width: 100%;
            height: 16px;
            background-color: rgb(248, 248, 248);
            border: 1px solid rgb(210, 210, 210);
            border-radius: 20px;
        }

        .slider .progress {
            width: 31%;
            height: 18px;
            background: linear-gradient(90deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(53, 10, 74, 1) 36%,
                    rgba(83, 49, 156, 1) 100%);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .slider .point {
            height: 24px;
            width: 24px;
            background-color: rgb(83, 49, 156);
            border-radius: 50%;
            position: absolute;
            top: -5px;
            left: calc(31% - 12px);
            border: 2px solid white;
            transition: all 0.3s ease;
        }

        .slider .point:hover {
            cursor: pointer;
            transform: scale(1.35);
        }

        .scale {
            width: 100%;
        }

        .slider .scale ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            padding: 0;
            font-weight: bold;
            color: rgb(166, 166, 166);
        }

        .cards-wrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 32px;
        }

        .card {
            width: 40%;
            background-color: rgb(250, 247, 255);
            position: relative;
            border-radius: 10px;
            margin: 16px;
            padding: 16px 32px;
            box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-weight: bold;
            transition: 0.15s transform ease;
            color: rgb(83, 49, 156);
            margin: 8px 0;
        }

        .card .top-section {
            padding: 8px;
            text-transform: uppercase;
        }

        .card .top-section p {
            margin: 4px 0;
        }

        .card:hover {
            transform: translateY(-8px);
            cursor: pointer;
        }

        .card .price {
            font-size: 42px;
            color: rgb(44, 44, 44)
        }

        .card hr {
            width: 30%;
            border: 1px solid rgb(210, 210, 210);
            border-radius: 2px;
        }

        .card button {
            border: none;
            color: #fff;
            background-color: rgb(83, 49, 156);
            padding: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.15s transform ease;
        }

        .card button:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        .card .save-header {
            color: #fff;
            background: linear-gradient(90deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(53, 10, 74, 1) 36%,
                    rgba(83, 49, 156, 1) 100%);
            position: absolute;
            top: -22px;
            left: 0;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }