p {
  /* position: static; default value, cannot use top, right etc properties */
  /* position: relative; top, right, bottom, left and z-index can be used. Initial whitespace is maintained maintains document flow */
  /* position: absolute; top, right etc relative to nearest parent with position property */
  /* z-index: specifies the elevation of an element relative to other elements */
  border: 1px solid black;
  background-color: magenta;
  margin: 30px;
  font-size: 2rem;
  left: 23px;
}

.box {
  background-color: olive;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.absolute {
  background-color: orangered;
  position: absolute;
  top: 0px;
  left: 0px;
}

.paragraph {
  position: relative;
  background-color: yellow;
  top: 40px; /* 40px from original position */
  left: 40px;
  z-index: -1;
}